@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
:root {
    --backgroundYellow:#E2D686;
    --yellowWarning:#FFFD82;
    --calculator:#FFDF64;
    --brown:#C57B57;
    --equal:#8FB339;
    --clear:#F4442E;
    --operation:#FFBF9B;
    --changeSign:#B7CE63;
    --decimalPoint:#debef2;
    --shadow :#e09f3e;
    --digit:#CCD5AE;
}
*, body {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color:var(--backgroundYellow);
}
.parent {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    margin:5rem 0;
}
.container {
    max-width:300px;
    width:100%;
}

.calculator {
    padding:1.5rem;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    border-top-right-radius:10%;
    border-top-left-radius:10%;
    border-bottom-right-radius:10%;
    border-bottom-left-radius:10%;
    background-color:var(--calculator);
    box-shadow:10px 5px 5px var(--shadow);
}

.display {
    background-color:black;
    width:80%;
    padding:1rem;
    padding-bottom:2rem;
    border-top-right-radius:5%;
    border-top-left-radius:5%;
    border-bottom-left-radius:5%;
    border-bottom-right-radius:5%;
    color:white;
    height:4rem;
}
.calculatorButtons {
    padding:1rem 0;
    display:grid;
    grid-template-columns:repeat(4, 1fr);   
    grid-gap:.5em;
}
.button {
    cursor:pointer;
    border:1px solid;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:1em;
    box-shadow: 2px 1px 1px var(--shadow);
}
.button:hover, .digitHover, .operandHover, .equalHover, .clearHover, .changeSignHover {
    transform:translate(0, -5%);
}
.digit:hover, .digitHover {
    background-color:var(--digit);
}
.equal:hover, .equalHover {
    background-color:var(--equal);
}
.clearAll:hover, .clearHover {
    background-color:var(--clear);
}
.operand:hover, .operandHover {
    background-color:var(--operation);
}
.changeSign:hover, .changeSignHover {
    background-color:var(--changeSign);
}
.decimalPoint:hover {
    background-color:var(--decimalPoint);
}
.equal {
    grid-column:4/4;
    grid-row: 6/4;
}
.zero {
    width:50%;
    grid-row:5/5;
    grid-column:1/4;
}
.decimalPoint {
    grid-row:5/5;
    grid-column:3/4;
}

.footer {
    text-align:center;
    font-family: 'Alfa Slab One', cursive;
    color:var(--shadow);
}
